.container{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif
}
.flex{
    display: flex;
}
.centro{
    justify-content: center;
}
.centro1{
    align-items: center;
}
.meio{
    justify-content: center;
    align-items: center;
}
.login{
    height: 65%;
    width: 40%;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;

}
.bet{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.colun{
    flex-direction: column;
}

.input input{
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 100%;
}
.input input:focus{
    outline: none;
    border-bottom: 4px solid black;
}
.entrar{
    height: 0%;
    width: 0%;
    border-radius: 15px;
    background-color: purple;
}
.botao {
    width: 100%;
    height: 100%;
    display: flex;/* centraliza o texto */
    justify-content: center;
    align-items: center;
    text-decoration: none;/* tira sublinhado */
    color: white;/* cor da letra */
    font-size: 40px;
    font-weight: bold;
    background: transparent;/* usa o fundo da div */
    border: none;
    cursor: pointer;
}
.p1{
height: 33.33%;
width: 100%;

}
.p2{
height: 33.333%;
width: 100%;


}
.p3{
height: 33.333%;
width: 100%;
}
.roxo{
    color: purple;
}
.fontG{
    font-size: 45px;
     font-weight: 900;
}
.fontP{
    font-size: 25px
}