.container{
    height: 100vh;
    width: 100vw;
}
.linha{
    height: 33%;
    width: 100%;
}
.metade{
    height: 50%;
    width: 100%;
}
.qg{
  height: 200px;
  width: 200px;
  background-color: blue;
}

.qp{
    height: 50px;
    width: 50px;
    background-color: orange;
}
.flex{
    display: flex;
}
.bet{
    justify-content: space-between;
}
.c{
    justify-content: center;
    align-items: center;
}
.g{
    justify-content: center;
}
.canto{
    justify-content: end
} 
.divid{
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.h{
    justify-content: center;
    align-items: end;
}
.bat{
    justify-content: end;
    align-items: end;
}
.ca{
    justify-content: end;
}
.cu{
    align-items: end;
}
.o{
    height: 100%;
    width:33.3333333% ;
}
.t1{
    align-items: center;
}
.t2{
    flex-direction: column;

}
.t3{
    justify-content: end;
    align-items: center;
}