
.container {
    height: 100vh;
    }

.linha{
    height: 33.333333333333333333%;
}
    
.quadrado_g{
height: auto;
width: auto;
background-color: brown;
}

.quadrado_m{
height: auto;
width: auto;
background-color: brown;
}

