.container {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.telaLogin {
    height: 75%;
    width: 45%;
    border-radius: 35px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 35px;
}

.flex {
    display: flex;
}

.centro {
    justify-content: center;
    align-items: center;
}

.meio {
    justify-content: center;
}

.meio1 {
    align-items: center;
}
.around{
    justify-content: space-around;
}
.roxo {
    color: rgb(rgb(137, 46, 160));
}

.input{
    width: 90%;
    display: flex;
    justify-content: center;
    
}

.input input{
    width: 80%;
    border: none; 
    border-bottom: 5px solid black;
    font-size: 20px

}

.input input:focus{
    outline: none;
    border-bottom: 4px solid black;
}

.fonT {
    font-size: 35px;
    color: purple;
    font-weight: bold;
}

.colum {
    flex-direction: column;
}

.marginTop {
    margin-top: 2%;
    margin-bottom: 0%;
}
.bet{
    justify-content: space-between;
}
.espasamento {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.entrar{
    height: 90%;
    width: 80%;
    border-radius: 15px;
    background-color: purple;
}

.botao {
    width: 100%;
    height: 100%;
    display: flex;/* centraliza o texto */
    justify-content: center;
    align-items: center;
    text-decoration: none;/* tira sublinhado */
    color: white;/* cor da letra */
    font-size: 40px;
    font-weight: bold;
    background: transparent;/* usa o fundo da div */
    border: none;
    cursor: pointer;
}

/* CADASTRO */

.telaCadastro{
    height: 80%;
    width: 75%;
    background-color: rgb(248, 246, 246);
    border-radius: 18px;
}
.font{
    font-size: 28px;
    color: purple;
    font-weight: bold;   
    margin-bottom: 0%; 
}
.cadastrar {
    height: 100px;
    width: 1165px;
    border-radius: 15px;
    margin-top: 2%;
    background-color: purple;
}
.input1 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    
}

.input1 input{
    width: 90%;
    border: none; 
    border-bottom: 5px solid black;
    font-size: 20px
    
}

.input1 input:focus{
    outline: none;
    border-bottom: 4px solid black;
}

/* PRINCIPAL */

.container2{
    height: 200vh;
    width: 98vw;
    font-family: Arial, Helvetica, sans-serif;
}
.part1{
    height: 6%;
}
.part2{
    height: 4%;
    width: 100%;
}
.part3{ 
    height: 18%;
    width: 100%;
}
.part4{
    height: 10%;
    width: 100%;
}
.part5{
    height: 6%;
    width: 100%;
    font-size: 145%;
}
.part6{
    height: 25%;
    width: 100%;
}
.part7{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: end;
}
.indicacoes{
    height: 6%;
    width: 100%;
    font-size: 25px;
}
.part2{
    height: 12%;
    width: 100%;
}
.metade{
    height: 100%;
    width: 60%;
}

.metade1{
    height: 100%;
    width: 40%;
}
.bola{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #C3CBD6;
    border-right: 50px;

}
.b{
    height: 88vh;
    width: 100%;
}

.retanguloG{
    height:75% ;
    width:65% ;
    background-color: #C3CBD6;
}
.retanguloM{
    height: 75%;
    width: 30%;
    background-color: #C3CBD6;
}

.retanguloP{
    height: 90%;
    width: 30%;
    background-color: #C3CBD6;
}
.retanguloGG{
    height: 80%;
    width: 95%;
    background-color: #C3CBD6 ;
}
.preto{
    height: 90%;
    width: 100%;

    background-color: rgb(8, 8, 8);

}

/* PERFIL */

.partPerfil{
    height: 28%;
    width: 100%;
}

.dividir{
    height: 100%;
    width: 50%;
}

.circuloG{
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #C3CBD6;
}
.right{
    margin-left: 2%;
}
.baixo{
    align-items: end;
}
.lista{
    height: 25%;
    width: 100%;
}