.container{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif
}
.flex{
    display: flex;
}
.centro{
    justify-content: center;
}
.centro1{
    align-items: center;
}
.meio{
    justify-content: center;
    align-items: center;
}
.login{
    height: 65%;
    width: 40%;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;

}
.bet{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.colun{
    flex-direction: column;
}

.input input{
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 100%;
}
.input input:focus{
    outline: none;
    border-bottom: 4px solid black;
}
.entrar{
    height: 60%;
    width: 80%;
    border-radius: 15px;
    background-color: purple;
}
.botao {
    width: 100%;
    height: 100%;
    display: flex;/* centraliza o texto */
    justify-content: center;
    align-items: center;
    text-decoration: none;/* tira sublinhado */
    color: white;/* cor da letra */
    font-size: 40px;
    font-weight: bold;
    background: transparent;/* usa o fundo da div */
    border: none;
    cursor: pointer;
}
.p1{
height: 33.33%;
width: 100%;

}x
.p2{
height: 33.333%;
width: 100%;


}
.p3{
height: 33.333%;
width: 100%;
}
.roxo{
    color: purple;
}
.fontG{
    font-size: 45px;
     font-weight: 900;
}
.fontG1{
    font-size: 65px;
     font-weight: 600;
}
.fontP{
    font-size: 25px
}
/* CADASTRO */

.cadastro{
    height: 70%;
    width: 80%;
    background-color: rgb(241, 241, 241);
}
.metade{
    height: 50%;
    width: 100%;
}
.metade1{
    height: 100%;
    width: 50%;
}
.metade input{

    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    width: 100%;
}

.entrar1{
    height: 85%;
    width: 75%;
    border-radius: 7px;
    background-color: purple;

}
.containerG{
    height: 200vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    height:5%;
    width: 100%;
}
.part1{
    height: 30%;
    width: 100%;
  
}
.part2{
    height: 5%;
    width: 100%;
}
.part3{
    height: 20%;
    width: 100%;
}
.alta{
    height: 5%;
    width: 100%;
}
.part4{
    height: 20%;
    width: 100%;
}
.rodape{
    height: 30%;
    width: 100%;
    background-color: black;
    margin: none;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: gray;
}
.fontM{
    font-size: 34px;
     font-weight: 700;
}
.icone{
    height: 550px;
    width: 550px;
    border-radius: 550px;
    background-color: grey;
}
.lista{
    height: 15%;
    width: 100%;
}
.fontG2{
    font-size: 50px;
     font-weight: 600;
}
.part7{
    height: 25%;
    width: 100%;
}

.retanguloM{
    height: 75%;
    width: 55%;
    background-color: gray;
}

.retanguloM1{
    height: 75%;
    width: 35%;
    background-color: gray;
}

.retanguloP{
    height: 70%;
    width: 30%;
    background-color: gray;
}
.retanguloG{
    height: 97% ;
    width: 95% ; 
    background-color: gray;
}