.container{
    height: 100vh;
    width: 100vw;
}
.linha{
    height: 33.333333%;
    width: 100%;
}
.flex{
    display: flex;
}
.bet{
    justify-content: space-between;
}
.qg{
    height:200px ;
    width: 200px;
    background-color: blue;
}
.qp{
    height:50px ;
    width: 50px;
    background-color: orange;
}
.a{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.b{
    justify-content: center;
    align-items: center;
}
.metade{
    height: 100%;
    width: 100%;
}
.c{
    justify-content: end;
    align-items: end;
}
.d{
justify-content: center;
align-items: end;
}
.e{
    justify-content: center;
}
.y{
    justify-content: end;
}
.z{
    align-items: end;
}
.g{
    justify-content: end;
}
.fr{
    height: 100%;
    width: 33.333%;
}

.gh{
    align-items: center;
}
.gj{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.gb{
    align-items: center;
    justify-content: end;
}

.metade1{
    height: 50%;
    width: 100%;
    
}
.colum{
    flex-direction: column;
}